html,
body,
#root {
  height: 100%;
}

.map-container {
  height: 100vh;
  width: 100vw;
}
.react-map-gl {
  width: 70%;
  height: 70%;
  position: absolute;
  /* margin-top: 10rem; */
  margin-left: 13rem;
  border: 5px solid black;
  border-style: solid;
  border-radius: 20px;
}

.message{
  color: black;
  padding: 10px;
  /*display: block;*/
  text-align: center;
  font-size: 1.2rem;
  z-index: 9999;
  margin-top:150px;
  left: 0;
}
.container{
  padding-top: 50px;
}
canvas {
  border-radius: 15px;
  overflow: hidden;
}
